/* Global styles for all elements */
* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  min-height: 100vh;
  background-color: hsl(200 20% 10%);
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  appearance: none;
  background-color: transparent;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--darky);
  border-radius: 4px;
}

/* Flexbox container class */
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

/* CSS Variables for reusable colors */
:root {
  --darky: hsl(200, 5%, 20%);
  --soft-green: rgb(149, 218, 162);
  color-scheme: dark;
}

/* Header styling */
header {
  padding-block: 30px;
  gap: 10px;
}

header h1 {
  letter-spacing: 5px;
  font-weight: 900;

  > span {
    color: var(--soft-green);
  }
}

/* Form styling */
form {
  background-color: var(--darky);
  padding: 6px;
  border-radius: 50px;
  transition-duration: 200ms;
  min-width: min(80vw, 400px);
  display: flex;
  justify-content: space-between;
}

form input {
  border: none;
  padding: 6px 12px;
  outline: 0;
  font-size: 20px;
  flex: 1;
}

form .task-input {
  background-color: transparent;
  flex-shrink: 0;
}

form:has(.task-input:focus-visible) {
  box-shadow: 0 0 0 4px #555;
}

form .add {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  transition-duration: 200ms;
}

form .add:hover {
  background-color: var(--soft-green);
  color: black;
}

/* Main section styling */
main header {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(680px, 90vw);
}

main header .clear {
  border: none;
  background-color: hsl(0, 55%, 50%);
  font-weight: bold;
  border-radius: 20px;
  padding: 6px 10px;
  cursor: pointer;
}

main header .clear:hover {
  background-color: hsl(0, 60%, 70%);
}

main .task-list {
  padding: 10px;
  width: min(700px, 90vw);
  will-change: contents;
}

.task-list div.empty {
  color: gray;
  text-align: center;
  margin-block: 20px;
}

/* Task object styling */
.task {
  background-color: var(--darky);
  display: flex;
  align-items: start;
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
  margin-block-end: 10px;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.2);
  border: 1px solid #555;
}

.task.done {
  opacity: 0;
  transform: translateY(-40px) scale(0.5);
}

.task .state {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  cursor: pointer;
}

.task-content {
  line-height: 1.5;
  word-break: break-all;
}

.task-content::selection {
  background-color: var(--soft-green);
  color: var(--darky);
}
